.app-bar {
	@include y-padding($spacing--sm);
	@include x-padding($spacing--base);
	align-items: center;
	background-color: $color--white;
	box-shadow: 0 2px 4px 0 rgba($color--black, .2);
	display: grid;
	gap: $spacing--base;
	grid-template-columns: auto 1fr auto;
	position: sticky;
	top: 0;
	z-index: 50;

	@media (min-width: $screen--md) {
		@include y-padding($spacing--sm);
		@include x-padding($spacing--xl);
		grid-template-columns: 1fr auto;
	}

	&__menu {
		align-items: center;
		display: flex;

		@media (min-width: $screen--md) {
			display: none;
		}

		button {
			@include y-padding($spacing--sm);
			@include x-padding($spacing--sm);
			background-color: transparent;
			border: 0;
			cursor: pointer;
		}
	}

	&__brand {
		@include y-padding($spacing--sm);
		color: $color--primary;
		font-size: $font-size--lg;
		text-transform: uppercase;
		user-select: none;

		h1 {
			@media (min-width: $screen--md) {
				font-size: $font-size--2xl;
			}
		}
	}

	&__navigation {
		background-color: $color--white;
		box-shadow: 0 0 4px rgba($color--black, .2);
		left: -100vw;
		overflow: hidden;
		padding: $spacing--sm;
		position: absolute;
		top: 3.5rem;
		transition: all .3s;

		@media (min-width: $screen--md) {
			box-shadow: none;
			position: static;
			width: 100%;
		}

		&.open {
			left: 0;
		}

		ul {
			li {

				@media (min-width: $screen--md) {
					display: inline-block;
				}

				a {
					color: $color--black;
					display: inline-block;
					margin-bottom: $spacing--xs;
					padding: $spacing--sm;
					text-decoration: none;
					width: 100%;

					@media (min-width: $screen--md) {
						margin-bottom: 0;
						width: auto;
					}
				}
			}
		}
	}
}
