$screen--sm: 640px;
$screen--md: 768px;
$screen--lg: 1024px;
$screen--xl: 1280px;

$color--white: #fff;
$color--black: #000;
$color--primary: #db0000;

$spacing--xs: .25rem;
$spacing--sm: .5rem;
$spacing--base: 1rem;
$spacing--md: 1.25rem;
$spacing--lg: 1.5rem;
$spacing--xl: 2rem;

$font-size--xs: 0.75rem;
$font-size--sm: 0.875rem;
$font-size--base: 1rem;
$font-size--lg: 1.125rem;
$font-size--xl: 1.25rem;
$font-size--2xl: 1.5rem;
$font-size--3xl: 1.875rem;
$font-size--4xl: 2.25rem;
$font-size--5xl: 3rem;
$font-size--6xl: 4rem;

$font-weight--reguler: 400;
$font-weight--semibold: 600;

$border-radius--xs: .25rem;
$border-radius--sm: .5rem;
$border-radius--base: 1rem;
$border-radius--md: 1.25rem;
$border-radius--lg: 1.5rem;
$border-radius--xl: 2rem;
